.foto {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 0 5px 27px;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.pagina {
    width: 800px;
    margin: 0px auto;
    border: 0px solid #ccc;
    background: white;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagina img {
    width: 20px;
    height: 20px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    background-image: url(fondo-Encabezado.jpg);
    padding: 70px 1px;
    align-items: center;
}

.COMPANY h1 {
    color: white;

}

.COMPANY p {
    font-size: 20%;
    text-align: left;
    margin-left: 30px;
    color: white;

}

.COMPANY {
    display: flex;
    padding: 0 0 0 10px;
}



.INVOICE h1 {
    color: rgb(241, 134, 11);
    margin-top: 20px;
    height: 30px;
    margin-right: 50px;
    padding-right: 20px;
}

.INVOICE p {
    color: white;
    font-size: 50%;

}

.Datos {
    display: flex;
    justify-content: space-between;
    padding: 30px 23px 8px 0;
}

.informacion h1 {
    color: rgb(241, 134, 11);
    font-size: 80%;
    margin-left: 40px;
    height: auto;
}

.informacion h3 {
    font-size: 110%;
    margin-left: 38px;
}

.informacion p {
    font-size: 70%;
    margin-left: 38px;
}

.payment h3 {
    font-size: 90%;
    margin-right: 40px;
    color: rgb(238, 158, 66);

}

.invoice {
    display: flex;
    justify-content: space-between;

}

.Minus {
    padding-right: 70px;
    text-align: end;
}

.payment p {
    font-size: 70%;
    margin-right: 38px;
}

.Tabla table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.margen {
    padding: 20px 30px 10px 30px;
}

.Tabla thead {
    color: white;
    background: rgb(241, 134, 11);
}

.div {
    padding: 20px 30px 10px 30px;
}

.Tabla th {
    padding: 10px;
    border: 4px solid white;
    text-align: left;
}

.Tabla td {
    padding: 10px;
    border: 10px solid white;
    text-align: left;
}

.Tabla tr:nth-child(even) {
    background-color: #f3efef7a;
}

.sumas {
    display: flex;
    justify-content: space-between;
    padding: 20px 31px 10px 21px;
}

.sumas p {
    margin-bottom: 5px;
}

.Total {
    display: flex;
    justify-content: space-between;
    background: rgb(241, 134, 11);
    color: white;
    padding: 15px;
    margin: 35px;
}

.Pie {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    padding: 0px 31px 35px 35px;
}

.Pie p {
    font-size: 9px;
    display: flex;
    align-items: flex-start;
    max-width: 60%;
}

.Pie h3 {
    font-size: 17px;
    padding: 20px 0px 0px 0px;
}

.Pie img {
    width: 180px;
    height: auto;
    padding: 0px 0px 0px 9px;
}

.Pie h4 {
    font-size: 11px;
    padding: 0px 0px 0px 28px;
    text-align: center;
}

.marco-bajo {
    position: absolute;
    width: 150%;
    height: 0px;
    justify-content: center;


}

.marco-bajo img {
    width: 800px;
    height: auto;
    justify-content: center;

}


@media (max-width:918px) {
    .pagina {
        width: 700px;
    }


    .marco-bajo img {
        width: 700px;
        height: auto;
        justify-content: center;
    }
}

@media (max-width:810px) {
    .pagina {
        width: 600px;
    }

    .encabezado {
        background-image: none;
        background-color: black;
        padding: 27px 5px 27px 5px;
    }

    .marco-bajo img {
        width: 600px;
        height: auto;
        justify-content: center;
    }
    .marco-bajo{
        height: 0px;
    }

    .COMPANY h1 {
        font-size: 24px;
        margin-left: 0px;
    }

    .foto {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-left: 29px;
    }

    .COMPANY p {
        font-size: 10%;
        text-align: left;
        margin-left: 3px;
        color: white;

    }

    .INVOICE h1 {
        color: rgb(241, 134, 11);
        height: 30px;
        margin-right: 10px;
        padding-right: 10px;
        font-size: 30px;
    }

    .INVOICE p {
        color: white;
        font-size: 46%;
    }

    .Tabla tbody {
        font-size: 12px;
    }

    .Tabla thead {
        font-size: 14px;
    }

    .TOTAL {
        font-size: 13px;
    }

    .Pie h3 {
        font-size: 14px;
        padding: 20px 0px 0px 0px;
    }

    .Pie img {
        width: 160px;
        height: auto;
        padding: 0px 0px 0px 9px;
    }

    .Pie h4 {
        font-size: 9px;
        padding: 0px 0px 0px 28px;
        text-align: center;
    }
}

@media (max-width:633px) {
.pagina {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        box-shadow: none;
    }

    .encabezado {
        background-image: none;
        background-color: black;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 10px;
    }

    .COMPANY {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
    }

    .foto img {
        width: 40px;
        height: 40px;
    }

    .COMPANY h1 {
        margin: 0;
        font-size: 22px;
    }

    .COMPANY p {
        font-size: 12px;
        color: white;
    }

    .INVOICE h1 {
        font-size: 26px;
        margin: 10px 0;
    }

    .Datos {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        gap: 15px;
    }

    .informacion, .payment {
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }

    .Tabla {
        width: 100%;
        overflow-x: auto;
    }

    .Tabla table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
        margin: 0 auto;
    }

    .Tabla th, .Tabla td {
        padding: 6px;
        text-align: left;
    }

    .sumas {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        font-size: 13px;
        flex-wrap: wrap;
    }

    .Total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(241, 134, 11);
        color: white;
        padding: 10px 20px;
        margin: 10px 0;
    }

    .Pie {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .Pie p {
        max-width: 100%;
        font-size: 11px;
    }

    .Pie img {
        width: 130px;
        height: auto;
        margin-top: 10px;
    }

    .marco-bajo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .marco-bajo img {
        width: 100%;
        height: auto;
    }
} 
